{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{ title|default('Email Verification has been completed already') }}{% endblock %}
{% block title %}Email Verification Completed Already.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_register') }}
{% endblock %}



{% block body %}
    <h2 class="h3 mb-3 font-weight-normal">{{ title|default('Email Verification has been completed already') }}</h2>
    <h1 class="mt-2">Email Verification has been completed already.</h1>
    <p class="lead">Your Email Address has already been verified.</p>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <p>You are currently signed into {{ site_name }}.</p>
        <p>Please click <a href="{{ path('app_home') }}">here</a> to goto the Home Page.</p>
    {% else %}
        <p>You are not currently signed into {{ site_name }}.</p>
        <p>Please click <a href="{{ path('app_login') }}">here</a> to sign in.</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_register') }}
{% endblock %}