{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ title|default('Signup - Terms of Service') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_register') }}
{% endblock %}

{% block body %}
    <h2 class="h3 mb-3 font-weight-normal">{{ title|default('Signup - Terms of Service') }}</h2>

    {{ include('forms/TermsOfService.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_register') }}
{% endblock %}
