{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ui_election') }}
{% endblock %}
<h5>Election Creation Tools</h5>
<ul>

    {% if is_granted('ROLE_ELECTION_CREATE') %}
        <li><a href="{{ url('app_home') }}"
               data-trigger="hover"
               title=""
               data-content="">Create Election</a>
        </li>
    {% endif %}


    <li><a href="{{ url('app_home') }}"
           data-trigger="hover"
           title=""
           data-content="">Item 2</a>
    </li>
    <li><a href="{{ url('app_home') }}"
           data-trigger="hover"
           title=""
           data-content="">Item 3</a>
    </li>
    <li><a href="{{ url('app_home') }}"
           data-trigger="hover"
           title=""
           data-content="">Item 4</a>
    </li>

</ul>
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_election') }}
{% endblock %}
