<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {{ form_start(form) }}
            {{ include('forms/blocks/AccountNumbers.html.twig') }}
            {{ include('forms/blocks/NameFormalCompany.html.twig') }}
            {{ include('forms/blocks/NameFormalPerson.html.twig') }}
            {{ include('forms/blocks/NamePerson.html.twig') }}
            {{ include('forms/blocks/PersonType.html.twig') }}
            {{ include('forms/blocks/Login.html.twig') }}
            {{ include('forms/blocks/UserLogin.html.twig') }}
            {{ include('forms/blocks/Username.html.twig') }}
            {{ include('forms/blocks/PasswordCreate.html.twig') }}
            {{ include('forms/blocks/AssociationSize.html.twig') }}
            {{ include('forms/blocks/AddressPhysical.html.twig') }}
            {{ include('forms/blocks/AddressMailing.html.twig') }}
            {{ include('forms/blocks/AddressBilling.html.twig') }}
            {{ include('forms/blocks/AddressProperty.html.twig') }}
            {{ include('forms/blocks/PhonesCompany.html.twig') }}
            {{ include('forms/blocks/PhonesPersonal.html.twig') }}
            {{ include('forms/blocks/Email.html.twig') }}
            {{ include('forms/blocks/Url.html.twig') }}
            {{ include('forms/blocks/DescriptionLong.html.twig') }}
            {{ include('forms/blocks/DescriptionShort.html.twig') }}
            {{ include('forms/blocks/DescriptionLongShow.html.twig') }}
            {{ include('forms/blocks/ExternalPropertyId.html.twig') }}
            {{ include('forms/blocks/InternalPropertyId.html.twig') }}
            {{ include('forms/blocks/County.html.twig') }}
            {{ include('forms/blocks/LegalDescription-LotBlockSubdivision.html.twig') }}
            {{ include('forms/blocks/LegalDescription-SectionTownshipRange.html.twig') }}
            {{ include('forms/blocks/LegalDescription.html.twig') }}
            {{ include('forms/blocks/SubmitButtonPlain.html.twig') }}
            {{ include('forms/blocks/SubmitButtonNext.html.twig') }}
            {{ include('forms/blocks/SubmitButtonPlain.html.twig') }}
            {{ include('forms/blocks/TermsOfService.html.twig') }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
