<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {{ form_start(form) }}
            <fieldset>
                <legend class="legend">Election Dates</legend>
                {{ form_row(form.descriptionShort.descriptionShort) }}
                {{ form_row(form.descriptionLong.descriptionLong) }}
            </fieldset>{{ include('forms/blocks/ButtonSave.html.twig') }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
