{% extends 'base.html.twig' %}

{% if title is not defined %}
    {% set page_title = 'DEFINE_BETTER' %}
{% else %}
    {% set page_title = title %}
{% endif %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#	{{ encore_entry_link_tags('') }}#}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="h3 mb-3 font-weight-normal">{{ page_title }}</h2>
            </div>
        </div>
    </div>
    <h1 class="h3 mb-3 font-weight-normal">{{ title|default('Update Company') }}</h1>

    {{ include('forms/Company.html.twig', {'button_label': 'Update Record'}) }}


    {% if is_granted('ROLE_COMPANY') %}
        <a href="{{ path('company_control_panel') }}" class="btn btn-primary btn-lg btn-block active" role="button"
           aria-disabled="true">Return to the
            Company Control Panel.</a>
        <br/><br/>
    {% endif %}



    {#	Commented out because we should not be able to delete the company you are standing in the middle of. #}
    {#	{% if is_granted('ROLE_COMPANY_DELETE')  and  company.personId != app.user.id %}#}
    {#		{{ include('company/_delete_form.html.twig') }}#}
    {#	{% endif %}#}




    {#    {{ include('company/_form.html.twig', {'button_label': 'Update Record'}) }}#}
    {#    <a href="{{ path('crud_company_index') }}" class="btn btn-primary btn-lg btn-block active" role="button" aria-disabled="true">Return to List</a>
#}
    {#    {{ include('company/_delete_form.html.twig') }}#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#	{{ encore_entry_script_tags('') }}#}
{% endblock %}
