{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ title|default('Owner Dashboard') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#	{{ encore_entry_link_tags('') }}#}
{% endblock %}

{% block body %}
    <h2 class="h3 mb-3 font-weight-normal">{{ title|default('Owner Dashboard') }}</h2>









{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#	{{ encore_entry_script_tags('') }}#}
{% endblock %}
