{% extends 'base.html.twig' %}

{% block title %}AssociationStaff index{% endblock %}

{% block body %}
    <h1>AssociationStaff index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>AssociationStaffId</th>
            <th>IsAttorney</th>
            <th>JobTitle</th>
            <th>IsBoardMember</th>
            <th>DateStart</th>
            <th>DateEnd</th>
            <th>UpdatedAt</th>
            <th>CreatedAt</th>
            <th>IsActive</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for association_staff in association_staffs %}
            <tr>
                <td>{{ association_staff.associationStaffId }}</td>
                <td>{{ association_staff.isAttorney ? 'Yes' : 'No' }}</td>
                <td>{{ association_staff.jobTitle }}</td>
                <td>{{ association_staff.isBoardMember ? 'Yes' : 'No' }}</td>
                <td>{{ association_staff.dateStart ? association_staff.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ association_staff.dateEnd ? association_staff.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ association_staff.updatedAt ? association_staff.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ association_staff.createdAt ? association_staff.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ association_staff.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('crud_association_staff_show', {'associationStaffId': association_staff.associationStaffId}) }}"
                       class="btn btn-primary btn-lg btn-block active" role="button" aria-disabled="true">View
                        Record</a>
                    <a href="{{ path('crud_association_staff_edit', {'associationStaffId': association_staff.associationStaffId}) }}"
                       class="btn btn-danger btn-lg btn-block active" role="button" aria-disabled="true">Edit Record</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">No Results from the Database.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('crud_association_staff_new') }}"
       class="btn btn-danger btn-lg btn-block active" role="button" aria-disabled="true">Delete Record</a>
{% endblock %}
